﻿@using RunGroupWebApp.Data.Enum
@model Race

<h1>Are you sure you want to delete this race?</h1>
<form method="post" asp-action="Delete" enctype="multipart/form-data">
	<input type="hidden" value="AddressId" id="AddressId" />
	<div class="form-group">
		<label asp-for="Title">Title</label>
		<input asp-for="Title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Title">
	</div>
	<div class="form-group" style="padding-top:20px;">
		<label asp-for="Description">Description</label>
		<input asp-for="Description" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Description">
	</div>
	<div class="form-group" style="padding-top:20px;">
		<label asp-for="RaceCategory">RaceCategory</label>
		<select asp-for="RaceCategory" asp-items="@Html.GetEnumSelectList<RaceCategory>()" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="RaceCategory">
			<option>--Select--</option>
		</select>
	</div>
	<div class="form-group" style="padding-top:20px;">
		<label asp-for="Address.Street">Street</label>
		<input asp-for="Address.Street" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Street">
	</div>
	<div class="form-group" style="padding-top:20px;">
		<label asp-for="Address.City">City</label>
		<input asp-for="Address.City" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="City">
	</div>
	<div class="form-group" style="padding-top:20px;">
		<label asp-for="Address.State">State</label>
		<input asp-for="Address.State" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="State">
	</div>
	<div class="form-group" style="padding-top:20px;">
		<label asp-for="Image">Image</label>
		<div>
			<img src="@Model.Image" width="360" height="360">
		</div>
	</div>
</form>
<div class="form-group">
	<form action="Delete" method="post">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
	</form>
</div>